<div class="row">

 <div class="col-md-12">
 <div class="page-header">

  </div>
  
  
  <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
  <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
  </div>
</div>


<div class="row">

<div class="col-md-12">
    <button type="button" class="btn btn-default" ng-click="guest()"> Guest </button>

</div>
</div>