<!--
<div class="row">
    Games : 
    {{ games }}
</div>
-->
<!--
<div class="row">
    <div class="col-md-8">
        {{ users2 | json }}
    </div>
</div>
-->

<!--
<div class="row">
    <div class="col-md-12">
        <ul ng-repeat="game in games">
           <li>
               <a href="{{ game.url }}">
                   {{ game.name }}
               </a>
           </li>
        </ul>
    </div>
</div>
-->

<div class="row">
    <div class="col-md-8">
        <ul ng-repeat="game in games">
            <li ng-click="insertIframe(game.URL, game.Name)"> {{ game.URL }} - {{ game.Name }} </li>
        </ul>
    </div>
</div>

<div class="row">
<div class="col-md-8">
  <iframe ng-src="{{iframe}}" width="500" height="500" frameborder="0"></iframe>
</div>
<div class="col-md-4">

</div>
</div>

